.footer {
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px 0; /* diminuiu de 20px para 10px */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;

  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  font-size: 0.9rem; /* opcional: diminui tamanho do texto */
}



.footer .footer-icons {
  margin-top: 10px;
  display: flex;
  gap: 15px; /* espaço entre ícones */
  flex-wrap: wrap;
  justify-content: center;
}

.footer .footer-icons a {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s;
}

.footer .footer-icons a:hover {
  color: #0a66c2; /* azul LinkedIn ou você pode personalizar */
}
