
.navbar {
  background-color: snow;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.navbar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}


.navbar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
}

.navbar-title {
  color: #000000;
  font-weight: 600;
  letter-spacing: 0.5px;
}


.navbar-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-link {
  
  font-weight: 500;
  text-transform: none !important;
  transition: color 0.3s;
}

.navbar-link:hover {
  background-color: #00000093;
  color: #ffffff;
}


.navbar-btn {
  font-weight: 500 !important;
  border-radius: 10px !important;
  padding: 6px 18px !important;
}
